footer
  .container.text-center
    p.pull-left © 2014 Computer Connections of WI, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/russianryebread/duplicati-server') GitHub Project
      li
        a(href='https://github.com/russianryebread/duplicati-server/issues') Issues